 <my-ng-view></my-ng-view> <br><br><br>
<!-- <div class="card" style="width:50vw;margin-left:25vw;padding:1em;">
  <h1>Search</h1>
  <input class="form-control" type="text" name="" value="" ng-model="search"><br>
  <ul>
    <li ng-repeat="x in data | filter:search">{{x | uppercase}}</li>
  </ul>
</div> -->



<!-- <h3> {{message}} </h3>
<h3> {{main.message_2}} </h3>
<div ng-if="show">
  <p>
     Inside DIV
  </p>
</div> -->
<!-- <div my-tag>

</div> -->
<!-- <my-tag></my-tag>
<div class="my-tag">

</div> -->
